# Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import json
import urllib.request
from flatten_json import flatten

In [3]:
products = pd.read_json('https://raw.githubusercontent.com/anyoneai/e-commerce-open-data-set/master/products.json')
categories = pd.read_json('https://raw.githubusercontent.com/BestBuyAPIs/open-data-set/master/categories.json')

In [2]:
# Loading json files from URL and storing them in python variables.

url_prod = urllib.request.urlopen('https://raw.githubusercontent.com/anyoneai/e-commerce-open-data-set/master/products.json')
url_cat = urllib.request.urlopen('https://raw.githubusercontent.com/anyoneai/e-commerce-open-data-set/master/categories.json')
raw_products = json.loads(url_prod.read().decode("utf-8"))
raw_categories = json.loads(url_cat.read().decode("utf-8"))

In [3]:
# Lets flatten the dictionary, forcing all sublevels to only one root, showing their dependency in the name of the column.

product_dict = [flatten(dic) for dic in raw_products]
category_dict = [flatten(dic) for dic in raw_categories]

products = pd.DataFrame(product_dict)
categories = pd.DataFrame(category_dict)

In [4]:
# Insert EDA numbers here.

print(f'Total products:{len(products)}')
print(f'Total categories:{len(categories)}')

Total products:51646
Total categories:4584

In [5]:
products = products.loc[:, ~products.columns.isin(['sku', 'type', 'price', 'upc', 'shipping','manufacturer', 'model', 'url', 'image'])]
category_id = products.filter(regex='id$', axis=1)

In [77]:
features = products[['name', 'description']]

In [6]:
category_id

,category_0_id,category_1_id,category_2_id,category_3_id,category_4_id,category_5_id,category_6_id
0,pcmcat312300050015,pcmcat248700050021,pcmcat303600050001,abcat0208002,NaN,NaN,NaN
1,pcmcat312300050015,pcmcat248700050021,pcmcat303600050001,abcat0208002,NaN,NaN,NaN
2,pcmcat312300050015,pcmcat248700050021,pcmcat303600050001,abcat0208002,NaN,NaN,NaN
3,pcmcat312300050015,pcmcat248700050021,pcmcat303600050001,abcat0208002,NaN,NaN,NaN
4,pcmcat312300050015,pcmcat248700050021,pcmcat303600050001,abcat0208002,NaN,NaN,NaN
...,...,...,...,...,...,...,...
51641,abcat0900000,abcat0916000,pcmcat303700050016,NaN,NaN,NaN,NaN
51642,abcat0900000,abcat0916000,abcat0916008,abcat0916009,NaN,NaN,NaN
51643,abcat0500000,abcat0515000,abcat0504001,pcmcat186100050005,NaN,NaN,NaN
51644,abcat0100000,pcmcat161100050040,pcmcat748301694435,NaN,NaN,NaN,NaN
51645,abcat0900000,abcat0912000,abcat0912023,NaN,NaN,NaN,NaN

In [399]:
mask = category_id.isnull()
nan_first_col = mask[mask.any(axis=1)].idxmax(axis=1)
leaves_col = [category_id.columns.get_loc(c) for c in cols]

row = 0
labels = []
for col in leaves_col:
    labels.append(category_id.iloc[row,col-1])
    row += 1